@use '../import' as *;

.c_imgSvg {
  display: block;
  aspect-ratio: var(--pcw) / var(--pch);
  overflow: hidden;
  position: relative;

  @include media('tab') {
    aspect-ratio: var(--spw) / var(--sph);
  }

  &[data-type="vw"] {
    width: min(calc((var(--vpw) * var(--pcw)) / var(--pcdw)), var(--pcw));
    height: min(calc((var(--vpw) * var(--pch)) / var(--pcdw)), var(--pch));

    @include media('tab') {
      width: calc((var(--vpw) * var(--spw)) / var(--spdw));
      height: calc((var(--vpw) * var(--sph)) / var(--spdw));
    }
  }

  &[data-type="pc"] {
    width: calc((var(--vpw) * var(--pcw)) / var(--pcdw));
    height: calc((var(--vpw) * var(--pch)) / var(--pcdw));
    aspect-ratio: var(--pcw) / var(--pch);

    @include media('tab') {
      width: calc((var(--vpw) * var(--pcw)) / var(--pcdw));
      height: calc((var(--vpw) * var(--pch)) / var(--pcdw));
      aspect-ratio: var(--spw) / var(--sph);
    }
  }

  img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
  }
}
